.features-row {
    gap: 15px;
    display: flex;
    margin-bottom: 20px;
    gap: 50px;
}
.image-1 {
    width: 50%;   
    height: auto;
    margin-left: -40px;
    
}
.slid-4 {
    display: flex; 
    margin-top: 5%;             
    align-items: center;
    padding: 50px;
}

.features-col {
    padding: 20px 90px 20px 20px;
    border-radius: 15px;
    border-left: 3px solid #7b68ee;
    background: linear-gradient(to right, #7b68ee 50%, #fafafc 50%);
    background-size: 200%;        
    background-position: right;
    transition: 0.4s ease;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.features-col:hover {
    background-position: left;   
    color: white;
}
.fa-solid{
    margin-left: 10px;
}


@media screen and (max-width:500px){

.slid-4{
    flex-direction:column;
    padding:20px;
}

.image-1{
    width:100%;
    margin-left:0;
}

.features-row{
    flex-direction:column;
    gap:15px;
}

.features-col{
    padding:15px;
}
}

@media screen and (min-width:501px) and (max-width:900px){

.slid-4{
    flex-direction:column;
    padding:30px;
}

.image-1{
    width:80%;
    margin:0 auto;
}

.features-row{
    gap:20px;
}

.features-col{
    padding:15px 30px 15px 15px;
}
}