.clients{
    text-align: center;
    padding: 60px 20px;
}

.clientes-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 95%;
    margin: auto;
}
.clientes-logo img{
    width: 170px;
    object-fit: contain;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    transition: 0.3s ease;
}
.clientes-logo img:hover{
    transform: translateY(-5px);
}
.menu-icon{
    display: none;
}

@media screen and (max-width:500px){

.clientes-logo{
    display:grid;
    grid-template-columns:1fr 1fr;
    justify-items:center;
}

.clientes-logo :last-child{
    grid-column:1/3;
}
}